@import url('./frontpage.css');
@import url('./diary.css');
@import url('./render.css');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
}
